---
import CoindPay from '../components/coindpay.astro';
import Thailand from '../components/thailand.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-wrap justify-center items-start gap-4 min-h-screen">
		<div id="coindpay" class="tab-page contents group">
			<a href="#coindpay" class="order-1 group-target:text-slate-800 group-target:bg-[#0f172a14] group-target:font-semibold inline-flex items-center px-4 py-2 rounded-lg text-slate-500  hover:text-slate-800 hover:bg-slate-100">CoindPay</a>
			<div class=" basis-full w-full group-target:block hidden order-2">
				<CoindPay />
			</div>
		</div>
		<div id="thailand" class="tab-page contents group">
			<a href="#thailand" class="order-1 group-target:text-slate-800 group-target:bg-[#0f172a14] group-target:font-semibold inline-flex items-center px-4 py-2 rounded-lg text-slate-500  hover:text-slate-800 hover:bg-slate-100">泰国代收</a>
			<div class=" basis-full w-full group-target:block hidden order-2">
				<Thailand />
			</div>
		</div>
	</div>

	<script>
		if (!location.hash) {
			location.hash = 'coindpay';
		}
	</script>
</Layout>

<style>


</style>
